@charset "UTF-8";

/* Google Font (Noto Sans TC) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Setting */
*, *::after, *::before {
  box-sizing: border-box;
  transition: all 0.25s;
  scroll-behavior: smooth;
  /* outline: 1px solid #000; */
}
body {
  font-family: 'Noto Sans TC', sans-serif;
  overflow-x: hidden;
  /* margin-top: 84px !important; // Header Height */
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
}
input::placeholder {
  color: #A3907A;
}

/* Utilities Class */
.ellipsis-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.ellipsis-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.ellipsis-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}

/* Toggle Expand */
.toggle--click + .toggle--close {
  overflow: hidden;
  max-height: 0;
}
.toggle--click + .toggle--close .see__more {
  margin: 0 auto;
}
.toggle--click + .toggle--open {
  max-height: 500px;
}

/* Checkbox Style */
.checkbox__style {
  cursor: pointer;
}
/* Hidden Default Style */
.checkbox__style input[type="checkbox"] {
  display: none;
}
/* Checkbox Border */
.checkbox__style .checkmark::before {
  content: "";
  outline: 1px solid #543816;
  border-radius: 2px;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 2px;
  transition: all 0.1s;
}
/* Checked Style */
.checkbox__style input[type="checkbox"]:checked + .checkmark::before {
  outline: 0;
}
/* Checkbox Color */
.checkbox--yellow input[type="checkbox"]:checked + .checkmark::before {
  background-color: #EFC141;
}
.checkbox--cyan input[type="checkbox"]:checked + .checkmark::before {
  background-color: #93C9C8;
}
.checkbox--green input[type="checkbox"]:checked + .checkmark::before {
  background-color: #ABC592;
}

/* Slider Style */
input[type="range"] {
  width: 100%; /* 可依需求調整寬度 */
  -webkit-appearance: none; /* 重設預設樣式 */
  background: transparent; /* 將預設軌道設為透明 */
}
/* Slider Thumb */
input[type="range"]::-webkit-slider-thumb {
  position: relative;
  transform: translateY(-6px); /* 滑塊位置 */
  width: 20px; /* 滑塊寬度 */
  height: 20px; /* 滑塊高度 */
  background-color: #A3907A; /* 滑塊顏色 */
  cursor: pointer; /* 滑過時的指標形狀 */
  border-radius: 50%; /* 圓形滑塊 */
  -webkit-appearance: none;
  appearance: none;
  transition: all 0.2s;
}
/* Slider Track */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background-color: #eee; /* 軌道顏色 */
  border-radius: 5px; /* 軌道圓角 */
}
/* Range Color */
.range--yellow input[type="range"]::-webkit-slider-runnable-track {
  background-color: #EFC141;
}
.range--cyan input[type="range"]::-webkit-slider-runnable-track {
  background-color: #4D9895;
}
.range--green input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ABC592;
}

/* Scroll Ball Animation */
.scroll {
  position: relative;
  overflow: hidden;
}
.scroll__ball {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  border-radius: 50%;
  opacity: 0;
  animation: scroll-ball 4s ease-out infinite;
}
@keyframes scroll-ball {
  0% {
    right: -10px;
  }
  5% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    right: 90px;
  }
}

/* Move Ball */
.move {
  position: relative;
}
.move__ball {
  position: absolute;
  top: 8px;
  right: 135px;
  z-index: -1;
  padding: 40px;
  border-radius: 50%;
  transition: all 0.5s ease-out;
}
.move:hover .move__ball {
  right: -13px;
  background-color: #91AF74;
  transform: scale(1.2);
}
.move__text {
  transition: all 0.5s ease-out;
}
.move:hover .move__text {
  color: white;
}

/* Nav Hover Effect */
.nav__list {
  position: relative;
}
.nav__list__link::after {
  content: "";
  display: block;
  width: 0%;
  position: absolute;
  bottom: -10px;
  height: 3px;
  background-color: #ABC592;
  right: 0;
  transition: all 0.3s;
}
.nav__list__link:hover::after {
  width: 100%;
  left: 0;
}
.nav__list__menu {
  width: 125%;
  position: absolute;
  z-index: 100;
  left: -11px;
  top: 40px;
  text-align: center;
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s;
}
.nav__list__link:hover + .nav__list__menu, .nav__list__menu:hover {
  max-height: 300px;
}

/* Zoom */
.zoom__slow {
  animation: zoom 3s ease-in-out infinite alternate;
}
.zoom__fast {
  animation: zoom 2s ease-in infinite alternate;
}
@keyframes zoom {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

/* Auto Scroll Card */
.auto__scroll {
  animation: auto-scroll 30s linear infinite;
  animation-direction: alternate;
}
.auto__scroll:hover {
  animation-play-state: paused;
}
@keyframes auto-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}