@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font (Noto Sans TC) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Base Element Setting */
* {
  box-sizing: border-box;
  transition: all 0.25s;
  scroll-behavior: smooth;
  /* outline: 1px solid #000; */
}
body {
  font-family: 'Noto Sans TC', sans-serif;
}
img {
  max-width: 100%;
  display: block;
}

/* CSS Animation */
.scroll {
  min-height: 2px;
  overflow: hidden;
  position: relative;
}
.scroll__line {
  position: absolute;
  top: 0;
  right: 50%;
  z-index: 10;
  width: 30px;
  min-height: 2px;
  animation: scroll-line 3s ease-in-out infinite;
}
@keyframes scroll-line {
  0% {
    right: -40px;
  }
  100% {
    right: 80px;
  }
}
/* Move Ball */
.move {
  position: relative;
}
.move__ball {
  position: absolute;
  top: 15px;
  right: 135px;
  z-index: -1;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  transition: all 0.5s ease-out;
}
.move:hover .move__ball {
  right: -12px;
  background-color: #91AF74;
  transform: scale(1.5);
}
.move__text {
  transition: all 0.5s ease-out;
}
.move:hover .move__text {
  color: white;
}