@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font (Noto Sans TC - Black) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;900&display=swap');

/* Base Element Setting */
* {
  box-sizing: border-box;
  transition: all 0.2s;
  /* outline: 1px solid #000; */
}
body {
  font-family: 'Noto Sans TC', sans-serif;
}
img {
  max-width: 100%;
  display: block;
}

/* CSS Animation */
.scroll {
  min-height: 2px;
  overflow: hidden;
  position: relative;
}
.scroll__line {
  position: absolute;
  top: 0;
  right: 50%;
  z-index: 10;
  width: 30px;
  min-height: 2px;
  animation: scroll-line 3s ease-in-out infinite;
}
@keyframes scroll-line {
  0% {
    right: -40px;
  }
  100% {
    right: 80px;
  }
}